* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #333333;
}

a:hover {
  color: white;
  background-color: #333333;
}

.error-title, .error-message {
  color: red
}


body {
  margin: 30px;
  font-size: 13px;
  line-height: 50px;
  font-family: verdana;
  background-color: white;
}

.books-table {
  line-height: 20px;
}

.form-box {
  line-height: 20px;
  margin-bottom: 10px;
}

.top-about {
  margin-left: 30px; 
}

.flash {
  color: green;
}